
@{
    ViewBag.Title = "Hak";
}

<html>

<body>
    <center>
        <h3>Bu program fabrikaların iş takibini, makina kontrol takibini <br /> daha kolay ve güvenilir bir şekilde yönetilmesi için geliştirilmiştir.</h3>
    </center>
</body>
</html>
